/* When the user hovers over one of the links, the color of the text should change.
When the user hovers over one of the links, the background color of the element that contains the link should change.
When the user clicks on one of the links, the element that contains the link should grow in size by 5px on the left and right. */
.top >li:hover {
    color: fuchsia;
    background: palevioletred;
    font-size: 5em;
}

/* 1Currently, the <li> items are block level elements. Add correct styles to remove the bullets and display them as inline elements. */
ul > li {
    display: inline;
    list-style-type: none;
}
/* 2The three <span> elements should be displayed as block elements with a 1 pixel border and 25 pixel margin on all sides. */
span {
    display: block;
    border: 1px solid black;
    margin: 25px;
}
/* 3In the article element with the class n-child, add a 1 pixel border around every even numbered section element. */
.n-child section:nth-of-type(even){
    border: 1px solid black;
}
/* 4Change the top ul content to be displayed inline, with a comma between the three numbers. */
.top >li:after{
    content: ",";
}
/* 5In the article element with the class n-type, make each odd section's font color blue. */
.n-type section:nth-of-type(odd){
    color:whitesmoke;
    background: black;
}
/* 6In the article element with the class first-of-type, make the first aside element's background color lime. */
.first-of-type aside:first-of-type{
    background: lime;
}
/* 7In the article element with the class first-of-type, make the first section element's background color purple. */
.first-of-type section:first-of-type{
    background: lavender;
}
/* 8In the article element with the class three, give each section a background color of orange. */
.three >section{
    background: orangered;
}
/* 9In the article element with the class three, give the first child element, regardless of type, a background color of goldenrod. */
.three :first-child{
    background: goldenrod;
}
/* 10In the article element with the class three, give the last child element, regardless of type, a background color of darkslategray. */
.three :last-child{
    background: darkslategray;
}
/* 11Give each article element a title of "Article parent element", a dashed gray border, and a background color of royalblue. Also ensure that it spans the entire length of the document.  */
body >article:before {
    content: "Article parent element";
}